.container {
    display: flex; 
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    background: rgb(165, 187, 177);
    justify-content: center;
}
.box{
    width: 110px;
    height: 110px;
    background: rgb(33, 139, 95);
    margin: 15px;
    box-sizing: border-box;
    font-size: 25px;
}
.box img{
    width: 110px;
    height: 110px;
    display: none;
}